# PlanAhead Generated IO constraints 
NET "LAD[31]" IOSTANDARD = LVTTL;
NET "LAD[30]" IOSTANDARD = LVTTL;
NET "LAD[29]" IOSTANDARD = LVTTL;
NET "LAD[28]" IOSTANDARD = LVTTL;
NET "LAD[27]" IOSTANDARD = LVTTL;
NET "LAD[26]" IOSTANDARD = LVTTL;
NET "LAD[25]" IOSTANDARD = LVTTL;
NET "LAD[24]" IOSTANDARD = LVTTL;
NET "LAD[23]" IOSTANDARD = LVTTL;
NET "LAD[22]" IOSTANDARD = LVTTL;
NET "LAD[21]" IOSTANDARD = LVTTL;
NET "LAD[20]" IOSTANDARD = LVTTL;
NET "LAD[19]" IOSTANDARD = LVTTL;
NET "LAD[18]" IOSTANDARD = LVTTL;
NET "LAD[17]" IOSTANDARD = LVTTL;
NET "LAD[16]" IOSTANDARD = LVTTL;
NET "LAD[15]" IOSTANDARD = LVTTL;
NET "LAD[14]" IOSTANDARD = LVTTL;
NET "LAD[13]" IOSTANDARD = LVTTL;
NET "LAD[12]" IOSTANDARD = LVTTL;
NET "LAD[11]" IOSTANDARD = LVTTL;
NET "LAD[10]" IOSTANDARD = LVTTL;
NET "LAD[9]" IOSTANDARD = LVTTL;
NET "LAD[8]" IOSTANDARD = LVTTL;
NET "LAD[7]" IOSTANDARD = LVTTL;
NET "LAD[6]" IOSTANDARD = LVTTL;
NET "LAD[5]" IOSTANDARD = LVTTL;
NET "LAD[4]" IOSTANDARD = LVTTL;
NET "LAD[3]" IOSTANDARD = LVTTL;
NET "LAD[2]" IOSTANDARD = LVTTL;
NET "LAD[1]" IOSTANDARD = LVTTL;
NET "LAD[0]" IOSTANDARD = LVTTL;
NET "LBE[3]" IOSTANDARD = LVTTL;
NET "LBE[2]" IOSTANDARD = LVTTL;
NET "LBE[1]" IOSTANDARD = LVTTL;
NET "LBE[0]" IOSTANDARD = LVTTL;
NET "IOBITS[95]" IOSTANDARD = LVTTL;
NET "IOBITS[94]" IOSTANDARD = LVTTL;
NET "IOBITS[93]" IOSTANDARD = LVTTL;
NET "IOBITS[92]" IOSTANDARD = LVTTL;
NET "IOBITS[91]" IOSTANDARD = LVTTL;
NET "IOBITS[90]" IOSTANDARD = LVTTL;
NET "IOBITS[89]" IOSTANDARD = LVTTL;
NET "IOBITS[88]" IOSTANDARD = LVTTL;
NET "IOBITS[87]" IOSTANDARD = LVTTL;
NET "IOBITS[86]" IOSTANDARD = LVTTL;
NET "IOBITS[85]" IOSTANDARD = LVTTL;
NET "IOBITS[84]" IOSTANDARD = LVTTL;
NET "IOBITS[83]" IOSTANDARD = LVTTL;
NET "IOBITS[82]" IOSTANDARD = LVTTL;
NET "IOBITS[81]" IOSTANDARD = LVTTL;
NET "IOBITS[80]" IOSTANDARD = LVTTL;
NET "IOBITS[79]" IOSTANDARD = LVTTL;
NET "IOBITS[78]" IOSTANDARD = LVTTL;
NET "IOBITS[77]" IOSTANDARD = LVTTL;
NET "IOBITS[76]" IOSTANDARD = LVTTL;
NET "IOBITS[75]" IOSTANDARD = LVTTL;
NET "IOBITS[74]" IOSTANDARD = LVTTL;
NET "IOBITS[73]" IOSTANDARD = LVTTL;
NET "IOBITS[72]" IOSTANDARD = LVTTL;
NET "IOBITS[71]" IOSTANDARD = LVTTL;
NET "IOBITS[70]" IOSTANDARD = LVTTL;
NET "IOBITS[69]" IOSTANDARD = LVTTL;
NET "IOBITS[68]" IOSTANDARD = LVTTL;
NET "IOBITS[67]" IOSTANDARD = LVTTL;
NET "IOBITS[66]" IOSTANDARD = LVTTL;
NET "IOBITS[65]" IOSTANDARD = LVTTL;
NET "IOBITS[64]" IOSTANDARD = LVTTL;
NET "IOBITS[63]" IOSTANDARD = LVTTL;
NET "IOBITS[62]" IOSTANDARD = LVTTL;
NET "IOBITS[61]" IOSTANDARD = LVTTL;
NET "IOBITS[60]" IOSTANDARD = LVTTL;
NET "IOBITS[59]" IOSTANDARD = LVTTL;
NET "IOBITS[58]" IOSTANDARD = LVTTL;
NET "IOBITS[57]" IOSTANDARD = LVTTL;
NET "IOBITS[56]" IOSTANDARD = LVTTL;
NET "IOBITS[55]" IOSTANDARD = LVTTL;
NET "IOBITS[54]" IOSTANDARD = LVTTL;
NET "IOBITS[53]" IOSTANDARD = LVTTL;
NET "IOBITS[52]" IOSTANDARD = LVTTL;
NET "IOBITS[51]" IOSTANDARD = LVTTL;
NET "IOBITS[50]" IOSTANDARD = LVTTL;
NET "IOBITS[49]" IOSTANDARD = LVTTL;
NET "IOBITS[48]" IOSTANDARD = LVTTL;
NET "IOBITS[47]" IOSTANDARD = LVTTL;
NET "IOBITS[46]" IOSTANDARD = LVTTL;
NET "IOBITS[45]" IOSTANDARD = LVTTL;
NET "IOBITS[44]" IOSTANDARD = LVTTL;
NET "IOBITS[43]" IOSTANDARD = LVTTL;
NET "IOBITS[42]" IOSTANDARD = LVTTL;
NET "IOBITS[41]" IOSTANDARD = LVTTL;
NET "IOBITS[40]" IOSTANDARD = LVTTL;
NET "IOBITS[39]" IOSTANDARD = LVTTL;
NET "IOBITS[38]" IOSTANDARD = LVTTL;
NET "IOBITS[37]" IOSTANDARD = LVTTL;
NET "IOBITS[36]" IOSTANDARD = LVTTL;
NET "IOBITS[35]" IOSTANDARD = LVTTL;
NET "IOBITS[34]" IOSTANDARD = LVTTL;
NET "IOBITS[33]" IOSTANDARD = LVTTL;
NET "IOBITS[32]" IOSTANDARD = LVTTL;
NET "IOBITS[31]" IOSTANDARD = LVTTL;
NET "IOBITS[30]" IOSTANDARD = LVTTL;
NET "IOBITS[29]" IOSTANDARD = LVTTL;
NET "IOBITS[28]" IOSTANDARD = LVTTL;
NET "IOBITS[27]" IOSTANDARD = LVTTL;
NET "IOBITS[26]" IOSTANDARD = LVTTL;
NET "IOBITS[25]" IOSTANDARD = LVTTL;
NET "IOBITS[24]" IOSTANDARD = LVTTL;
NET "IOBITS[23]" IOSTANDARD = LVTTL;
NET "IOBITS[22]" IOSTANDARD = LVTTL;
NET "IOBITS[21]" IOSTANDARD = LVTTL;
NET "IOBITS[20]" IOSTANDARD = LVTTL;
NET "IOBITS[19]" IOSTANDARD = LVTTL;
NET "IOBITS[18]" IOSTANDARD = LVTTL;
NET "IOBITS[17]" IOSTANDARD = LVTTL;
NET "IOBITS[16]" IOSTANDARD = LVTTL;
NET "IOBITS[15]" IOSTANDARD = LVTTL;
NET "IOBITS[14]" IOSTANDARD = LVTTL;
NET "IOBITS[13]" IOSTANDARD = LVTTL;
NET "IOBITS[12]" IOSTANDARD = LVTTL;
NET "IOBITS[11]" IOSTANDARD = LVTTL;
NET "IOBITS[10]" IOSTANDARD = LVTTL;
NET "IOBITS[9]" IOSTANDARD = LVTTL;
NET "IOBITS[8]" IOSTANDARD = LVTTL;
NET "IOBITS[7]" IOSTANDARD = LVTTL;
NET "IOBITS[6]" IOSTANDARD = LVTTL;
NET "IOBITS[5]" IOSTANDARD = LVTTL;
NET "IOBITS[4]" IOSTANDARD = LVTTL;
NET "IOBITS[3]" IOSTANDARD = LVTTL;
NET "IOBITS[2]" IOSTANDARD = LVTTL;
NET "IOBITS[1]" IOSTANDARD = LVTTL;
NET "IOBITS[0]" IOSTANDARD = LVTTL;
NET "LEDS[7]" IOSTANDARD = LVTTL;
NET "LEDS[6]" IOSTANDARD = LVTTL;
NET "LEDS[5]" IOSTANDARD = LVTTL;
NET "LEDS[4]" IOSTANDARD = LVTTL;
NET "LEDS[3]" IOSTANDARD = LVTTL;
NET "LEDS[2]" IOSTANDARD = LVTTL;
NET "LEDS[1]" IOSTANDARD = LVTTL;
NET "LEDS[0]" IOSTANDARD = LVTTL;
NET "RESET" IOSTANDARD = LVTTL;
NET "LCLK" IOSTANDARD = LVTTL;
NET "LW_R" IOSTANDARD = LVTTL;
NET "ADS" IOSTANDARD = LVTTL;
NET "BLAST" IOSTANDARD = LVTTL;
NET "READY" IOSTANDARD = LVTTL;
NET "BTERM" IOSTANDARD = LVTTL;
NET "INT" IOSTANDARD = LVTTL;
NET "DREQ" IOSTANDARD = LVTTL;
NET "HOLD" IOSTANDARD = LVTTL;
NET "HOLDA" IOSTANDARD = LVTTL;
NET "CCS" IOSTANDARD = LVTTL;
NET "DISABLECONF" IOSTANDARD = LVTTL;
NET "LAD[31]" DRIVE = 8;
NET "LAD[30]" DRIVE = 8;
NET "LAD[29]" DRIVE = 8;
NET "LAD[28]" DRIVE = 8;
NET "LAD[27]" DRIVE = 8;
NET "LAD[26]" DRIVE = 8;
NET "LAD[25]" DRIVE = 8;
NET "LAD[24]" DRIVE = 8;
NET "LAD[23]" DRIVE = 8;
NET "LAD[22]" DRIVE = 8;
NET "LAD[21]" DRIVE = 8;
NET "LAD[20]" DRIVE = 8;
NET "LAD[19]" DRIVE = 8;
NET "LAD[18]" DRIVE = 8;
NET "LAD[17]" DRIVE = 8;
NET "LAD[16]" DRIVE = 8;
NET "LAD[15]" DRIVE = 8;
NET "LAD[14]" DRIVE = 8;
NET "LAD[13]" DRIVE = 8;
NET "LAD[12]" DRIVE = 8;
NET "LAD[11]" DRIVE = 8;
NET "LAD[10]" DRIVE = 8;
NET "LAD[9]" DRIVE = 8;
NET "LAD[8]" DRIVE = 8;
NET "LAD[7]" DRIVE = 8;
NET "LAD[6]" DRIVE = 8;
NET "LAD[5]" DRIVE = 8;
NET "LAD[4]" DRIVE = 8;
NET "LAD[3]" DRIVE = 8;
NET "LAD[2]" DRIVE = 8;
NET "LAD[1]" DRIVE = 8;
NET "LAD[0]" DRIVE = 8;
NET "LBE[3]" DRIVE = 8;
NET "LBE[2]" DRIVE = 8;
NET "LBE[1]" DRIVE = 8;
NET "LBE[0]" DRIVE = 8;
NET "IOBITS[95]" DRIVE = 8;
NET "IOBITS[94]" DRIVE = 8;
NET "IOBITS[93]" DRIVE = 8;
NET "IOBITS[92]" DRIVE = 8;
NET "IOBITS[91]" DRIVE = 8;
NET "IOBITS[90]" DRIVE = 8;
NET "IOBITS[89]" DRIVE = 8;
NET "IOBITS[88]" DRIVE = 8;
NET "IOBITS[87]" DRIVE = 8;
NET "IOBITS[86]" DRIVE = 8;
NET "IOBITS[85]" DRIVE = 8;
NET "IOBITS[84]" DRIVE = 8;
NET "IOBITS[83]" DRIVE = 8;
NET "IOBITS[82]" DRIVE = 8;
NET "IOBITS[81]" DRIVE = 8;
NET "IOBITS[80]" DRIVE = 8;
NET "IOBITS[79]" DRIVE = 8;
NET "IOBITS[78]" DRIVE = 8;
NET "IOBITS[77]" DRIVE = 8;
NET "IOBITS[76]" DRIVE = 8;
NET "IOBITS[75]" DRIVE = 8;
NET "IOBITS[74]" DRIVE = 8;
NET "IOBITS[73]" DRIVE = 8;
NET "IOBITS[72]" DRIVE = 8;
NET "IOBITS[71]" DRIVE = 8;
NET "IOBITS[70]" DRIVE = 8;
NET "IOBITS[69]" DRIVE = 8;
NET "IOBITS[68]" DRIVE = 8;
NET "IOBITS[67]" DRIVE = 8;
NET "IOBITS[66]" DRIVE = 8;
NET "IOBITS[65]" DRIVE = 8;
NET "IOBITS[64]" DRIVE = 8;
NET "IOBITS[63]" DRIVE = 8;
NET "IOBITS[62]" DRIVE = 8;
NET "IOBITS[61]" DRIVE = 8;
NET "IOBITS[60]" DRIVE = 8;
NET "IOBITS[59]" DRIVE = 8;
NET "IOBITS[58]" DRIVE = 8;
NET "IOBITS[57]" DRIVE = 8;
NET "IOBITS[56]" DRIVE = 8;
NET "IOBITS[55]" DRIVE = 8;
NET "IOBITS[54]" DRIVE = 8;
NET "IOBITS[53]" DRIVE = 8;
NET "IOBITS[52]" DRIVE = 8;
NET "IOBITS[51]" DRIVE = 8;
NET "IOBITS[50]" DRIVE = 8;
NET "IOBITS[49]" DRIVE = 8;
NET "IOBITS[48]" DRIVE = 8;
NET "IOBITS[47]" DRIVE = 8;
NET "IOBITS[46]" DRIVE = 8;
NET "IOBITS[45]" DRIVE = 8;
NET "IOBITS[44]" DRIVE = 8;
NET "IOBITS[43]" DRIVE = 8;
NET "IOBITS[42]" DRIVE = 8;
NET "IOBITS[41]" DRIVE = 8;
NET "IOBITS[40]" DRIVE = 8;
NET "IOBITS[39]" DRIVE = 8;
NET "IOBITS[38]" DRIVE = 8;
NET "IOBITS[37]" DRIVE = 8;
NET "IOBITS[36]" DRIVE = 8;
NET "IOBITS[35]" DRIVE = 8;
NET "IOBITS[34]" DRIVE = 8;
NET "IOBITS[33]" DRIVE = 8;
NET "IOBITS[32]" DRIVE = 8;
NET "IOBITS[31]" DRIVE = 8;
NET "IOBITS[30]" DRIVE = 8;
NET "IOBITS[29]" DRIVE = 8;
NET "IOBITS[28]" DRIVE = 8;
NET "IOBITS[27]" DRIVE = 8;
NET "IOBITS[26]" DRIVE = 8;
NET "IOBITS[25]" DRIVE = 8;
NET "IOBITS[24]" DRIVE = 8;
NET "IOBITS[23]" DRIVE = 8;
NET "IOBITS[22]" DRIVE = 8;
NET "IOBITS[21]" DRIVE = 8;
NET "IOBITS[20]" DRIVE = 8;
NET "IOBITS[19]" DRIVE = 8;
NET "IOBITS[18]" DRIVE = 8;
NET "IOBITS[17]" DRIVE = 8;
NET "IOBITS[16]" DRIVE = 8;
NET "IOBITS[15]" DRIVE = 8;
NET "IOBITS[14]" DRIVE = 8;
NET "IOBITS[13]" DRIVE = 8;
NET "IOBITS[12]" DRIVE = 8;
NET "IOBITS[11]" DRIVE = 8;
NET "IOBITS[10]" DRIVE = 8;
NET "IOBITS[9]" DRIVE = 8;
NET "IOBITS[8]" DRIVE = 8;
NET "IOBITS[7]" DRIVE = 8;
NET "IOBITS[6]" DRIVE = 8;
NET "IOBITS[5]" DRIVE = 8;
NET "IOBITS[4]" DRIVE = 8;
NET "IOBITS[3]" DRIVE = 8;
NET "IOBITS[2]" DRIVE = 8;
NET "IOBITS[1]" DRIVE = 8;
NET "IOBITS[0]" DRIVE = 8;
NET "LEDS[7]" DRIVE = 8;
NET "LEDS[6]" DRIVE = 8;
NET "LEDS[5]" DRIVE = 8;
NET "LEDS[4]" DRIVE = 8;
NET "LEDS[3]" DRIVE = 8;
NET "LEDS[2]" DRIVE = 8;
NET "LEDS[1]" DRIVE = 8;
NET "LEDS[0]" DRIVE = 8;
NET "RESET" DRIVE = 8;
NET "LCLK" DRIVE = 8;
NET "LW_R" DRIVE = 8;
NET "ADS" DRIVE = 8;
NET "BLAST" DRIVE = 8;
NET "READY" DRIVE = 8;
NET "BTERM" DRIVE = 8;
NET "INT" DRIVE = 8;
NET "DREQ" DRIVE = 8;
NET "HOLD" DRIVE = 8;
NET "HOLDA" DRIVE = 8;
NET "CCS" DRIVE = 8;
NET "DISABLECONF" DRIVE = 8;
NET "IOBITS[95]" SLEW = SLOW;
NET "IOBITS[94]" SLEW = SLOW;
NET "IOBITS[93]" SLEW = SLOW;
NET "IOBITS[92]" SLEW = SLOW;
NET "IOBITS[91]" SLEW = SLOW;
NET "IOBITS[90]" SLEW = SLOW;
NET "IOBITS[89]" SLEW = SLOW;
NET "IOBITS[88]" SLEW = SLOW;
NET "IOBITS[87]" SLEW = SLOW;
NET "IOBITS[86]" SLEW = SLOW;
NET "IOBITS[85]" SLEW = SLOW;
NET "IOBITS[84]" SLEW = SLOW;
NET "IOBITS[83]" SLEW = SLOW;
NET "IOBITS[82]" SLEW = SLOW;
NET "IOBITS[81]" SLEW = SLOW;
NET "IOBITS[80]" SLEW = SLOW;
NET "IOBITS[79]" SLEW = SLOW;
NET "IOBITS[78]" SLEW = SLOW;
NET "IOBITS[77]" SLEW = SLOW;
NET "IOBITS[76]" SLEW = SLOW;
NET "IOBITS[75]" SLEW = SLOW;
NET "IOBITS[74]" SLEW = SLOW;
NET "IOBITS[73]" SLEW = SLOW;
NET "IOBITS[72]" SLEW = SLOW;
NET "IOBITS[71]" SLEW = SLOW;
NET "IOBITS[70]" SLEW = SLOW;
NET "IOBITS[69]" SLEW = SLOW;
NET "IOBITS[68]" SLEW = SLOW;
NET "IOBITS[67]" SLEW = SLOW;
NET "IOBITS[66]" SLEW = SLOW;
NET "IOBITS[65]" SLEW = SLOW;
NET "IOBITS[64]" SLEW = SLOW;
NET "IOBITS[63]" SLEW = SLOW;
NET "IOBITS[62]" SLEW = SLOW;
NET "IOBITS[61]" SLEW = SLOW;
NET "IOBITS[60]" SLEW = SLOW;
NET "IOBITS[59]" SLEW = SLOW;
NET "IOBITS[58]" SLEW = SLOW;
NET "IOBITS[57]" SLEW = SLOW;
NET "IOBITS[56]" SLEW = SLOW;
NET "IOBITS[55]" SLEW = SLOW;
NET "IOBITS[54]" SLEW = SLOW;
NET "IOBITS[53]" SLEW = SLOW;
NET "IOBITS[52]" SLEW = SLOW;
NET "IOBITS[51]" SLEW = SLOW;
NET "IOBITS[50]" SLEW = SLOW;
NET "IOBITS[49]" SLEW = SLOW;
NET "IOBITS[48]" SLEW = SLOW;
NET "IOBITS[47]" SLEW = SLOW;
NET "IOBITS[46]" SLEW = SLOW;
NET "IOBITS[45]" SLEW = SLOW;
NET "IOBITS[44]" SLEW = SLOW;
NET "IOBITS[43]" SLEW = SLOW;
NET "IOBITS[42]" SLEW = SLOW;
NET "IOBITS[41]" SLEW = SLOW;
NET "IOBITS[40]" SLEW = SLOW;
NET "IOBITS[39]" SLEW = SLOW;
NET "IOBITS[38]" SLEW = SLOW;
NET "IOBITS[37]" SLEW = SLOW;
NET "IOBITS[36]" SLEW = SLOW;
NET "IOBITS[35]" SLEW = SLOW;
NET "IOBITS[34]" SLEW = SLOW;
NET "IOBITS[33]" SLEW = SLOW;
NET "IOBITS[32]" SLEW = SLOW;
NET "IOBITS[31]" SLEW = SLOW;
NET "IOBITS[30]" SLEW = SLOW;
NET "IOBITS[29]" SLEW = SLOW;
NET "IOBITS[28]" SLEW = SLOW;
NET "IOBITS[27]" SLEW = SLOW;
NET "IOBITS[26]" SLEW = SLOW;
NET "IOBITS[25]" SLEW = SLOW;
NET "IOBITS[24]" SLEW = SLOW;
NET "IOBITS[23]" SLEW = SLOW;
NET "IOBITS[22]" SLEW = SLOW;
NET "IOBITS[21]" SLEW = SLOW;
NET "IOBITS[20]" SLEW = SLOW;
NET "IOBITS[19]" SLEW = SLOW;
NET "IOBITS[18]" SLEW = SLOW;
NET "IOBITS[17]" SLEW = SLOW;
NET "IOBITS[16]" SLEW = SLOW;
NET "IOBITS[15]" SLEW = SLOW;
NET "IOBITS[14]" SLEW = SLOW;
NET "IOBITS[13]" SLEW = SLOW;
NET "IOBITS[12]" SLEW = SLOW;
NET "IOBITS[11]" SLEW = SLOW;
NET "IOBITS[10]" SLEW = SLOW;
NET "IOBITS[9]" SLEW = SLOW;
NET "IOBITS[8]" SLEW = SLOW;
NET "IOBITS[7]" SLEW = SLOW;
NET "IOBITS[6]" SLEW = SLOW;
NET "IOBITS[5]" SLEW = SLOW;
NET "IOBITS[4]" SLEW = SLOW;
NET "IOBITS[3]" SLEW = SLOW;
NET "IOBITS[2]" SLEW = SLOW;
NET "IOBITS[1]" SLEW = SLOW;
NET "IOBITS[0]" SLEW = SLOW;
NET "LEDS[7]" SLEW = SLOW;
NET "LEDS[6]" SLEW = SLOW;
NET "LEDS[5]" SLEW = SLOW;
NET "LEDS[4]" SLEW = SLOW;
NET "LEDS[3]" SLEW = SLOW;
NET "LEDS[2]" SLEW = SLOW;
NET "LEDS[1]" SLEW = SLOW;
NET "LEDS[0]" SLEW = SLOW;
NET "RESET" SLEW = SLOW;
NET "LCLK" SLEW = SLOW;
NET "LW_R" SLEW = SLOW;
NET "ADS" SLEW = SLOW;
NET "BLAST" SLEW = SLOW;
NET "READY" SLEW = FAST;
NET "BTERM" SLEW = SLOW;
NET "INT" SLEW = SLOW;
NET "DREQ" SLEW = SLOW;
NET "HOLD" SLEW = SLOW;
NET "HOLDA" SLEW = FAST;
NET "CCS" SLEW = SLOW;
NET "DISABLECONF" SLEW = SLOW;


#Created by Constraints Editor (xc3s1000-fg320-5) - 2013/11/06
NET "LCLK" TNM_NET = "LCLK";
TIMESPEC TS_LCLK = PERIOD "LCLK" 16 ns HIGH 50 %;
OFFSET = IN 10 ns BEFORE "LCLK" VALID 12 ns;
OFFSET = OUT 11 ns AFTER "LCLK" VALID 12 ns;
TIMESPEC TS_P2P = FROM  PADS TO  PADS 25 ns;
# Added by BS 10/1/2013 4:02:40 PM
NET "LW_R" CLOCK_DEDICATED_ROUTE = FALSE;

# PlanAhead Generated physical constraints 

NET "IOBITS[0]" LOC = A10;
NET "IOBITS[1]" LOC = B10;
NET "IOBITS[2]" LOC = C11;
NET "IOBITS[3]" LOC = D11;
NET "IOBITS[4]" LOC = C12;
NET "IOBITS[5]" LOC = D12;
NET "IOBITS[6]" LOC = D14;
NET "IOBITS[7]" LOC = D13;
NET "IOBITS[8]" LOC = D10;
NET "IOBITS[9]" LOC = A14;
NET "IOBITS[10]" LOC = B14;
NET "IOBITS[11]" LOC = C14;
NET "IOBITS[12]" LOC = C15;
NET "IOBITS[13]" LOC = A15;
NET "IOBITS[14]" LOC = B15;
NET "IOBITS[15]" LOC = B13;
NET "IOBITS[16]" LOC = A12;
NET "IOBITS[17]" LOC = A11;
NET "IOBITS[18]" LOC = C18;
NET "IOBITS[19]" LOC = B18;
NET "IOBITS[20]" LOC = D18;
NET "IOBITS[21]" LOC = D17;
NET "IOBITS[22]" LOC = E16;
NET "IOBITS[23]" LOC = D16;
NET "IOBITS[24]" LOC = B4;
NET "IOBITS[25]" LOC = C4;
NET "IOBITS[26]" LOC = C5;
NET "INT" LOC = D2;
NET "IOBITS[27]" LOC = D5;
NET "IOBITS[28]" LOC = A4;
NET "IOBITS[29]" LOC = A5;
NET "IOBITS[30]" LOC = B5;
NET "IOBITS[31]" LOC = B6;
NET "IOBITS[32]" LOC = C7;
NET "IOBITS[33]" LOC = D7;
NET "IOBITS[34]" LOC = C8;
NET "IOBITS[35]" LOC = D8;
NET "IOBITS[36]" LOC = E8;
NET "IOBITS[37]" LOC = F8;
NET "IOBITS[38]" LOC = A7;
NET "IOBITS[39]" LOC = A8;
NET "IOBITS[40]" LOC = B9;
NET "IOBITS[41]" LOC = A9;
NET "IOBITS[42]" LOC = E9;
NET "IOBITS[43]" LOC = F9;
NET "IOBITS[44]" LOC = B3;
NET "IOBITS[45]" LOC = D6;
NET "IOBITS[46]" LOC = D9;
NET "IOBITS[47]" LOC = E7;
NET "IOBITS[48]" LOC = N9;
NET "IOBITS[49]" LOC = T18;
NET "IOBITS[50]" LOC = T5;
NET "IOBITS[51]" LOC = T4;
NET "IOBITS[52]" LOC = U6;
NET "IOBITS[53]" LOC = R9;
NET "IOBITS[54]" LOC = R6;
NET "IOBITS[55]" LOC = R5;
NET "IOBITS[56]" LOC = V5;
NET "IOBITS[57]" LOC = U5;
NET "IOBITS[58]" LOC = V8;
NET "IOBITS[59]" LOC = V7;
NET "IOBITS[60]" LOC = R8;
NET "IOBITS[61]" LOC = T8;
NET "IOBITS[63]" LOC = R11;
NET "IOBITS[64]" LOC = V11;
NET "IOBITS[65]" LOC = V12;
NET "IOBITS[66]" LOC = R13;
NET "IOBITS[67]" LOC = U14;
NET "IOBITS[68]" LOC = V15;
NET "IOBITS[69]" LOC = U15;
NET "IOBITS[70]" LOC = R14;
NET "IOBITS[71]" LOC = V14;
NET "IOBITS[72]" LOC = P9;
NET "IOBITS[73]" LOC = U18;
NET "IOBITS[74]" LOC = P16;
NET "IOBITS[75]" LOC = R16;
NET "IOBITS[76]" LOC = R17;
NET "IOBITS[77]" LOC = R18;
NET "IOBITS[78]" LOC = P17;
NET "IOBITS[79]" LOC = P18;
NET "IOBITS[80]" LOC = N15;
NET "IOBITS[81]" LOC = M15;
NET "IOBITS[82]" LOC = M18;
NET "IOBITS[84]" LOC = K15;
NET "IOBITS[83]" LOC = N17;
NET "IOBITS[85]" LOC = L15;
NET "IOBITS[86]" LOC = L16;
NET "IOBITS[87]" LOC = L18;
NET "IOBITS[88]" LOC = L17;
NET "IOBITS[89]" LOC = K17;
NET "IOBITS[91]" LOC = J17;
NET "IOBITS[90]" LOC = J18;
NET "IOBITS[92]" LOC = H17;
NET "IOBITS[93]" LOC = H18;
NET "IOBITS[94]" LOC = H16;
NET "IOBITS[95]" LOC = H15;
NET "LEDS[0]" LOC = G15;
NET "LEDS[1]" LOC = G16;
NET "LEDS[2]" LOC = G18;
NET "LEDS[3]" LOC = F17;
NET "LEDS[4]" LOC = F15;
NET "LEDS[5]" LOC = E15;
NET "LEDS[6]" LOC = E17;
NET "LEDS[7]" LOC = E18;
NET "LAD[0]" LOC = T12 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[1]" LOC = R12 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[2]" LOC = N11 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "IOBITS[62]" LOC = T11;
NET "LAD[3]" LOC = P11 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[4]" LOC = U9 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[5]" LOC = V9 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[6]" LOC = R7 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[7]" LOC = T7 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[8]" LOC = H3 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[9]" LOC = H4 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[10]" LOC = H2 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[11]" LOC = H1 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[12]" LOC = J2 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[13]" LOC = J1 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[14]" LOC = J4 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[15]" LOC = K2 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[16]" LOC = K1 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[17]" LOC = K4 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[18]" LOC = L1 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[19]" LOC = L2 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[20]" LOC = L4 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[21]" LOC = L3 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[22]" LOC = M1 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[23]" LOC = N2 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[24]" LOC = M4 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[25]" LOC = M3 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[26]" LOC = P4 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[27]" LOC = N4 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[28]" LOC = P1 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[29]" LOC = P2 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[30]" LOC = P3 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD[31]" LOC = R3 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LBE[0]" LOC = R2;
NET "LBE[1]" LOC = T1;
NET "LBE[2]" LOC = U1;
NET "LBE[3]" LOC = T2;
NET "RESET" LOC = D3;
NET "HOLD" LOC = G3;
NET "HOLDA" LOC = G1 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "ADS" LOC = F2;
NET "LW_R" LOC = T3;
NET "READY" LOC = V3 | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "BLAST" LOC = E2;
NET "BTERM" LOC = G4;
NET "CCS" LOC = C2;
NET "DISABLECONF" LOC = J15;
NET "DREQ" LOC = C1;
NET "LCLK" LOC = E10;

#Created by Constraints Editor (xc3s1000-fg320-5) - 2013/09/23
INST "LAD<0>" TNM = PCI_out;
INST "LAD<1>" TNM = PCI_out;
INST "LAD<2>" TNM = PCI_out;
INST "LAD<3>" TNM = PCI_out;
INST "LAD<4>" TNM = PCI_out;
INST "LAD<5>" TNM = PCI_out;
INST "LAD<6>" TNM = PCI_out;
INST "LAD<7>" TNM = PCI_out;
INST "LAD<8>" TNM = PCI_out;
INST "LAD<9>" TNM = PCI_out;
INST "LAD<10>" TNM = PCI_out;
INST "LAD<11>" TNM = PCI_out;
INST "LAD<12>" TNM = PCI_out;
INST "LAD<13>" TNM = PCI_out;
INST "LAD<14>" TNM = PCI_out;
INST "LAD<15>" TNM = PCI_out;
INST "BTERM" TNM = PCI_out;
INST "CCS" TNM = PCI_out;
INST "DISABLECONF" TNM = PCI_out;
INST "DREQ" TNM = PCI_out;
INST "HOLDA" TNM = PCI_out;
INST "INT" TNM = PCI_out;
INST "LAD<16>" TNM = PCI_out;
INST "LAD<17>" TNM = PCI_out;
INST "LAD<18>" TNM = PCI_out;
INST "LAD<19>" TNM = PCI_out;
INST "LAD<20>" TNM = PCI_out;
INST "LAD<21>" TNM = PCI_out;
INST "LAD<22>" TNM = PCI_out;
INST "LAD<23>" TNM = PCI_out;
INST "LAD<24>" TNM = PCI_out;
INST "LAD<25>" TNM = PCI_out;
INST "LAD<26>" TNM = PCI_out;
INST "LAD<27>" TNM = PCI_out;
INST "LAD<28>" TNM = PCI_out;
INST "LAD<29>" TNM = PCI_out;
INST "LAD<30>" TNM = PCI_out;
INST "LAD<31>" TNM = PCI_out;
INST "READY" TNM = PCI_out;
#Created by Constraints Editor (xc3s1000-fg320-5) - 2013/09/25
#Created by Constraints Editor (xc3s1000-fg320-5) - 2013/10/18
TIMEGRP "PCI_out" OFFSET = OUT 13 ns AFTER "LCLK";
#Added by BS 7/9/2015 2:25:26 PM
INST "IOBITS<0>"  TNM = MB_out;
INST "IOBITS<1>"  TNM = MB_out;
INST "IOBITS<2>"  TNM = MB_out;
INST "IOBITS<3>"  TNM = MB_out;
INST "IOBITS<4>"  TNM = MB_out;
INST "IOBITS<5>"  TNM = MB_out;
INST "IOBITS<6>"  TNM = MB_out;
INST "IOBITS<7>"  TNM = MB_out;
INST "IOBITS<8>"  TNM = MB_out;
INST "IOBITS<9>"  TNM = MB_out;
INST "IOBITS<10>" TNM = MB_out;
INST "IOBITS<11>" TNM = MB_out;
INST "IOBITS<12>" TNM = MB_out;
INST "IOBITS<13>" TNM = MB_out;
INST "IOBITS<14>" TNM = MB_out;
INST "IOBITS<15>" TNM = MB_out;
INST "IOBITS<16>" TNM = MB_out;
INST "IOBITS<17>" TNM = MB_out;
INST "IOBITS<18>" TNM = MB_out;
INST "IOBITS<19>" TNM = MB_out;
INST "IOBITS<20>" TNM = MB_out;
INST "IOBITS<21>" TNM = MB_out;
INST "IOBITS<22>" TNM = MB_out;
INST "IOBITS<23>" TNM = MB_out;
INST "IOBITS<24>" TNM = MB_out;
INST "IOBITS<25>" TNM = MB_out;
INST "IOBITS<26>" TNM = MB_out;
INST "IOBITS<27>" TNM = MB_out;
INST "IOBITS<28>" TNM = MB_out;
INST "IOBITS<29>" TNM = MB_out;
INST "IOBITS<30>" TNM = MB_out;
INST "IOBITS<31>" TNM = MB_out;
INST "IOBITS<32>" TNM = MB_out;
INST "IOBITS<33>" TNM = MB_out;
INST "IOBITS<34>" TNM = MB_out;
INST "IOBITS<35>" TNM = MB_out;
INST "IOBITS<36>" TNM = MB_out;
INST "IOBITS<37>" TNM = MB_out;
INST "IOBITS<38>" TNM = MB_out;
INST "IOBITS<39>" TNM = MB_out;
INST "IOBITS<40>" TNM = MB_out;
INST "IOBITS<41>" TNM = MB_out;
INST "IOBITS<42>" TNM = MB_out;
INST "IOBITS<43>" TNM = MB_out;
INST "IOBITS<44>" TNM = MB_out;
INST "IOBITS<45>" TNM = MB_out;
INST "IOBITS<46>" TNM = MB_out;
INST "IOBITS<47>" TNM = MB_out;
INST "IOBITS<48>" TNM = MB_out;
INST "IOBITS<49>" TNM = MB_out;
INST "IOBITS<50>" TNM = MB_out;
INST "IOBITS<51>" TNM = MB_out;
INST "IOBITS<52>" TNM = MB_out;
INST "IOBITS<53>" TNM = MB_out;
INST "IOBITS<54>" TNM = MB_out;
INST "IOBITS<55>" TNM = MB_out;
INST "IOBITS<56>" TNM = MB_out;
INST "IOBITS<57>" TNM = MB_out;
INST "IOBITS<58>" TNM = MB_out;
INST "IOBITS<59>" TNM = MB_out;
INST "IOBITS<60>" TNM = MB_out;
INST "IOBITS<61>" TNM = MB_out;
INST "IOBITS<63>" TNM = MB_out;
INST "IOBITS<64>" TNM = MB_out;
INST "IOBITS<65>" TNM = MB_out;
INST "IOBITS<66>" TNM = MB_out;
INST "IOBITS<67>" TNM = MB_out;
INST "IOBITS<68>" TNM = MB_out;
INST "IOBITS<69>" TNM = MB_out;
INST "IOBITS<70>" TNM = MB_out;
INST "IOBITS<71>" TNM = MB_out;
INST "IOBITS<72>" TNM = MB_out;
INST "IOBITS<73>" TNM = MB_out;
INST "IOBITS<74>" TNM = MB_out;
INST "IOBITS<75>" TNM = MB_out;
INST "IOBITS<76>" TNM = MB_out;
INST "IOBITS<77>" TNM = MB_out;
INST "IOBITS<78>" TNM = MB_out;
INST "IOBITS<79>" TNM = MB_out;
INST "IOBITS<80>" TNM = MB_out;
INST "IOBITS<81>" TNM = MB_out;
INST "IOBITS<82>" TNM = MB_out;
INST "IOBITS<84>" TNM = MB_out;
INST "IOBITS<83>" TNM = MB_out;
INST "IOBITS<85>" TNM = MB_out;
INST "IOBITS<86>" TNM = MB_out;
INST "IOBITS<87>" TNM = MB_out;
INST "IOBITS<88>" TNM = MB_out;
INST "IOBITS<89>" TNM = MB_out;
INST "IOBITS<91>" TNM = MB_out;
INST "IOBITS<90>" TNM = MB_out;
INST "IOBITS<92>" TNM = MB_out;
INST "IOBITS<93>" TNM = MB_out;
INST "IOBITS<94>" TNM = MB_out;
INST "IOBITS<95>" TNM = MB_out;
TIMEGRP "MB_out" OFFSET = OUT 20 ns AFTER "LCLK";

